<div [class]="'container flx-col-bet ' + (scrnSrv.isDark ? ' ' : 'light')">
  <div class="header" *ngIf="scrnSrv.isHandset$ | async">
    <div class="style-button pos1">
      <p-button *ngIf="scrnSrv.isHandset$ | async" [text]="true" (onClick)="scrnSrv.changeStyle()"
        [icon]="scrnSrv.isDark ? 'pi pi-sun' : 'pi pi-moon'" pTooltip="Change Style" />
    </div>
    <p-button (click)="scrnSrv.toggleSidenav()" icon="pi pi-bars" [text]="true" styleClass="sub-title" />
  </div>
  <div class="art-certain">
    <div class="art-top">
      @defer (on viewport) {
      <div class="art-top-bg"></div>
      <!-- <img loading="lazy" src="personal.webp" alt="Personal Image" id="personal-img"> -->
      <div class="art-top-overlay"></div>
      } @placeholder(minimum 8000) {
      <div></div>
      }
      <div class="art-top-con title">
        <h1 class="fw-bold">Welcome to my Portfolio!</h1>
        <h3 class="fw-bold">My World is Amazing!</h3>
        <div>
          < <p>code</p>
            > I Build {{ displayedText }}< <p>code</p>
              />
        </div>
      </div>
      <img loading="lazy" id="logo-zaher" src="Zaher.webp" alt="">
    </div>
    <div class="art-info-bar flx-row-bet">
      <div class="flx-row-bet">
        <h3 class="gold">3+</h3>
        <small class="title">Year Experience</small>
      </div>
      <div class="flx-row-bet">
        <h3 class="gold">4</h3>
        <small class="title">Free Lancer Projects</small>
      </div>
      <div class="flx-row-bet">
        <h3 class="gold">3</h3>
        <small class="title">System Development</small>
      </div>
      <div class="flx-row-bet">
        <h3 class="gold">2</h3>
        <small class="title">Official Certificates</small>
      </div>
    </div>
    <div class="art-services-con flx-col-bet">
      <h6 class="sub-title text-left w-100">Services</h6>
      <div class="art-services">
        <div class="art-service-card flx-col-start" *ngFor="let item of services">
          <small class="title">
            {{ item.title }}
          </small>
          <small class="sub-title">
            {{ item.description }}
          </small>
        </div>
      </div>
    </div>
    <skills />
    <resume />
    <projects />
    <recomindition />
    <div class="art-contact-con flx-col-bet">
      <h6 class="sub-title text-left w-100">Contact information</h6>
      <div class="flx-row-bet">
        <div class="contact-card" *ngFor="let card of contacts">
          <div class="contact-info flx-row-bet" *ngFor="let contact of card">
            <div class="flx-row-start">
              <i [class]="'gold ' + contact.icon"></i>
              <p class="sub-title m-0">{{ contact.key }}</p>
            </div>
            <small class="title">{{ contact.value }}</small>
          </div>
        </div>
      </div>
    </div>

    <div class="art-footer-con flx-row-bet">
      <div>
        <small class="sub-title">©2025 Eng.Zaher. All rights reserved</small>
      </div>
    </div>
  </div>
  <div class="style-button pos">
    <p-button *ngIf="!(scrnSrv.isHandset$ | async)" [text]="true" (onClick)="scrnSrv.changeStyle()"
      [icon]="scrnSrv.isDark ? 'pi pi-sun' : 'pi pi-moon'" />
  </div>
  @defer (on viewport) {
  <div class="super-img-con">
    <div class="super-img"></div>
    <div class="overlay"></div>
  </div>
  } @placeholder(minimum 8000) {
  <div></div>
  }
</div>