@use "../public/color.scss" as *;
@mixin transition-animatite() {
  transition: transform 2s ease, box-shadow 2s ease, width 2s ease,
    height 2s ease, opacity 4s ease, background-color 4s ease;
}
@keyframes fadeIn-right {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fadeIn-left {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes grow-height-1 {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  // 50% {
  //   opacity: 0.4;
  // }
  100% {
    opacity: 0.4;
    transform: translateY(200%);
  }
}
@keyframes rotate-1 {
  0% {
    transform: translateY(30px);
    filter: drop-shadow(0px 0px 0px 0px $c-gold);
  }
  50% {
    transform: translateY(0px);
    filter: drop-shadow(2px 4px 60px $c-gold);
    // filter: none;
  }
  100% {
    transform: translateY(30px);
    filter: drop-shadow(0px 0px 0px 0px $c-gold);
  }
}
