<div class="con">
  <mat-sidenav-container
    [hasBackdrop]="scrnSrv.isHandset$ | async"
    [class]="'drawer ' + (loading ? 'block' : 'none')"
  >
    <mat-sidenav
      #sidenav
      [opened]="true"
      class="sidenav-drawer"
      [style.width]="(scrnSrv.isHandset$ | async) ? '80%' : ''"
      #drawer
      [mode]="(scrnSrv.isHandset$ | async) ? 'over' : 'side'"
    >
      <nav></nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <home-land></home-land>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="toggle-div lottie-container" *ngIf="isDarkIn">
    <ng-lottie [options]="options" />
  </div>
</div>
