<div [class]="'container ' + ((scrnSrv.isDark) ? ' ': ' light')">
  <div class="img-div">
    <p-button *ngIf="scrnSrv.isHandset$ | async" (click)="scrnSrv.toggleSidenav()" icon="pi pi-bars" [text]="true"
      styleClass="sub-title" />
    @defer (on viewport) {
    <img id="photo-zaher" loading="lazy" src="personal3.webp" />
    <img id="logo-zaher" src="Zaher.webp" alt="">
    }
    @placeholder(minimum 10000) {
    <div></div>
    }
    <p class="title m-0">Zaher Gabr</p>
    <small class="sub-title">FRONT-END DEVELOPER</small>
  </div>
  <!-- <p-scroll-panel [style]="{ width: '100%', height: '40vh' }"> -->
  <div class="info-con">
    <mat-divider></mat-divider>
    <ng-container *ngFor="let item of infoSideNav">
      <div class="flx-col-bet" *ngIf="item.key === 'general'">
        <div class="flx-row-bet" *ngFor="let subItem of item.items">
          <small class="title">{{ subItem.title }}:</small>
          <small class="sub-title"> {{ subItem.percentage }}</small>
        </div>
      </div>
      <div class="flx-row-ev" *ngIf="item.key === 'language'">
        <div class="flx-col-bet" *ngFor="let subItem of item.items">
          <small class="title">{{ subItem.title }}</small>
          <p-knob [size]="60" [strokeWidth]="'5'" [style]="{ width: '100%' }" [readonly]="true"
            [textColor]="((scrnSrv.isDark) ? '#FFC107': '#a88007')"
            [valueColor]="((scrnSrv.isDark) ? '#FFC107': '#a88007')" [(ngModel)]="subItem.percentage"></p-knob>
        </div>
      </div>
      <mat-divider *ngIf="item.key !== 'language'"></mat-divider>
      <div class="flx-col-bet" *ngIf="item.key === 'technologies'">
        <div class="flx-col-bet" *ngFor="let subItem of item.items">
          <div class="flx-row-bet">
            <small class="title">{{ subItem.title }}</small>
            <small class="sub-title">{{ subItem.percentage }}%</small>
          </div>
          <mat-progress-bar mode="determinate" [value]="subItem.percentage"></mat-progress-bar>
        </div>
      </div>
      <p-button styleClass="sub-title flx-row-ev" label="Download my CV" size="small" variant="text" iconPos="right"
        icon="pi pi-download" *ngIf="item.key === 'cv'"></p-button>
    </ng-container>
  </div>
  <!-- </p-scroll-panel> -->
  <div class="footer flx-col-bet">
    <div class="flx-row-ev">
      <p-button [text]="true" icon="pi pi-linkedin" styleClass="sub-title" />
      <p-button [text]="true" icon="pi pi-github" styleClass="sub-title" />
      <p-button [text]="true" icon="pi pi-facebook" styleClass="sub-title" />
      <p-button [text]="true" icon="pi pi-telegram" styleClass="sub-title" />
    </div>
  </div>
</div>